@use "./base/base";
@use "./base/variables";
@use "./components/tooltip-link";
@use "./components/animated-border";
@use "./components/links";
@use "./components/list";
@use "./components/modern-card";
@use "./sections/random-trail-info";
// @use "./sections/green-faq";
// @use "./sections/our-mission-information";
// @use "./sections/table-info";
// @use "./sections/modern-timeline";
// @use "./sections/collection-list";
// @use "./sections/timeline-module";
// @use "./sections/used-technologies"; 
// @use "./sections/quick-access";
// @use "./sections/how-it-works";

#toggle-theme-btn {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 999; 

  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  } 

  input {
    height: 2rem;
    aspect-ratio: 1/1;
  }
}
