$content-width: calc(100% - 84px);
$margin: 0rem;
$spacing: 3rem;

$circle-size: 40px;
$icon-size: 32px;

$color1: #9251ac;
$color2: #f6a4ec;

$color3: #87bbfe;
$color4: #555ac0;

$color5: #24b47e;
$color6: #aff1b6;

#ai-timeline {
  --animation-border-width: 0.4rem;
  --timeline-border-radius: 15px;
  --timeline-border-radius-icon: 100%;

  padding: 5rem 0;
  background: linear-gradient(
    to left,
    var(--background-gray),
    var(--background)
  );

  .big-header {
    color: var(--font-color);
  }

  .timeline {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: $margin auto;
    list-style: none;
    counter-reset: timeline-number;

    &__event {
      display: flex;
      position: relative;
      align-self: center;
      margin: 0;
      padding-bottom: 1.8rem;
      border-radius: var(--timeline-border-radius);
      counter-increment: timeline-number;

      &__wrapper {
        display: flex;
      }

      &:nth-child(2n + 1) {
        flex-direction: row-reverse;
        .timeline__event__date {
          border-radius: 0 var(--timeline-border-radius)
            var(--timeline-border-radius) 0;
        }
        .timeline__event__content {
          border-radius: var(--timeline-border-radius) 0 0
            var(--timeline-border-radius);
        }

        .timeline__event__icon {
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0%;
            right: auto;
            left: 50%;
            width: var(--animation-border-width);
            height: 100%;
            transform: translateX(-50%);
            animation: fillTop 2s forwards 2s ease-in-out;
            background: $color2;
          }
          &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 50%;
            right: 0;
            left: auto;
            width: 100%;
            height: var(--animation-border-width);
            transform: translateY(-50%);
            animation: fillLeft 2s forwards 2s ease-in-out;
            background: $color2;
          }
        }
      }

      &__title {
        color: #fff;
        font-size: 1.2rem;
      }
      &__content {
        width: $content-width;
        padding: 0;
        border-radius: 0 var(--timeline-border-radius)
          var(--timeline-border-radius) 0;
        background: var(--dark-green);
        background: linear-gradient(
          to top,
          var(--dark-gray),
          var(--dark-green)
        );
        box-shadow: rgba(0, 0, 0, 0.2) 0px 44px 28px,
          rgba(0, 0, 0, 0.12) 0px 15px 12px;
        color: #fff;

        .hr-header {
          margin-block: 0.8rem;
          border-color: var(--green);
        }

        .text {
          padding-bottom: 0;
          color: var(--very-light-gray);
        }

        @media (min-width: 50em) {
          padding: 1.85rem;
        }

        @media (min-width: 87.5em) {
          padding: $spacing;
        }
      }
      &__date {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        border-radius: var(--timeline-border-radius) 0 0
          var(--timeline-border-radius);
        background-color: var(--background);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 44px 28px,
          rgba(0, 0, 0, 0.12) 0px 15px 12px;
        color: var(--font-color);
        font-size: 1.5rem;
        font-weight: 600;
        white-space: nowrap;

        @media (min-width: 87.5em) {
          padding: 3rem;
        }
      }
      &__icon {
        display: flex;
        position: relative;
        align-items: center;
        align-self: center;
        justify-content: center;
        width: $circle-size;
        height: $circle-size;
        margin: 0 $spacing;
        padding: $spacing;
        padding: 40px;
        border-radius: var(--timeline-border-radius-icon);
        background: var(--green);
        color: $color1;

        i {
          font-size: $icon-size;
        }

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0%;
          left: 50%;
          width: var(--animation-border-width);
          height: 100%;
          transform: translateX(-50%);
          animation: fillTop 2s forwards 2s ease-in-out;
          background: $color2;
        }
        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 0%;
          width: 100%;
          height: var(--animation-border-width);
          transform: translateY(-50%);
          animation: fillLeftOdd 2s forwards 2s ease-in-out;
          background: $color2;
        }
      }
      &__description {
        flex-basis: 60%;
      }

      &--type2 {
        &:nth-child(2n + 1) {
        }
      }

      &--type3 {
        &:nth-child(2n + 1) {
        }
      }
      &:last-child {
        .timeline__event__icon {
          &:before {
            content: none;
          }
        }
      }
    }
  }

  @media (max-width: 50em) {
    .timeline__event {
      flex-direction: column;
      align-self: center;
      &__content {
        width: 100%;
      }

      &__icon {
        width: 100%;
        margin: 0;
        border-radius: var(--timeline-border-radius)
          var(--timeline-border-radius) 0 0;
        box-shadow: none;

        &:before,
        &:after {
          display: none;
        }
      }
      &__date {
        padding: $spacing;
        border-radius: 0;
      }

      &:nth-child(2n + 1) {
        flex-direction: column;
        align-self: center;

        .timeline__event__date {
          padding: $spacing;
          border-radius: 0;
        }

        .timeline__event__icon {
          margin: 0;
          border-radius: var(--timeline-border-radius)
            var(--timeline-border-radius) 0 0;
        }
      }
    }
  }

  @keyframes fillLeft {
    100% {
      right: 100%;
    }
  }

  @keyframes fillTop {
    100% {
      top: 100%;
    }
  }

  @keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }
}
