#modules-and-tools {
  margin: 5rem 0;

  .tabs-navigation { 
    width: 100%;
 
    &-list { 
      display: flex; 
      justify-content: space-between;
      width: 100%;
      list-style: none; 

      li { 
        flex: 1;  
      }
 
      .tab-link {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        border: 1px solid #000;
        text-align: center;
      }
    } 
  }

  .tabs { 
    position: relative; 
    width: 100%;  
    overflow: hidden; 
    text-align: left;
  }

  .tab-content {
    display: none;
    transition: 0.3s;

    &.tab-active { 
      opacity: 1;  
    } 
  }
}
