#modules-and-tools {
  margin: 5rem 0;

  .tabs-navigation { 
    --navigation-border-radius: 20px;
    width: 100%; 
 
    &-list { 
      display: flex; 
      justify-content: space-between;
      width: 100%;
      list-style: none; 

      li { 
        flex: 1;  

        &:first-child {
          .tab-link {
            border-top-left-radius: var(--navigation-border-radius);
          }
        }
        &:last-child {
          .tab-link {
            border-top-right-radius: var(--navigation-border-radius);
          }
        } 
      }
  
      .tab-link {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        transition: 0.3s;
        background-color: green;
        color: #fff; 
        text-align: center;

        &-active {
          background-color: transparent;
          color: var(--font-color);
        }
      }
    } 
  } 

  .main-content {
    position: relative; 
    min-height: 50rem;
  }

  .tabs { 
    position: relative; 
    width: 100%;  
    overflow: hidden; 
    text-align: left;
  }

  .tab-content {
    transition: 0.3s; 
    opacity: 0;

    &.tab-active { 
      opacity: 1;  
    } 
  }
}
