@use "../components/modern-card" as *;

#places-close-to-you {
  padding: 5rem 0;
  background: linear-gradient(
    to left,
    var(--background-gray),
    var(--background)
  );

  .header {
    position: relative;
    padding-block: 4rem;
    background-image: url(../images/example-trail.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        var(--dark-gray-opacity),
        var(--dark-gray-50) 60%,
        transparent
      );
      //box-shadow: inset 50vw 0px 151px -20px var(--dark-gray);
    }

    .text {
      max-width: 50rem;
      color: var(--very-light-gray);
      font-size: 1rem;
    }
  }

  .sort-and-filter-box {
    @extend %modern-card;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    background: var(--dark-gray);
    background: linear-gradient(to top right, var(--dark-gray) 40%, #485f4f);
  } 
 
  .places-list { 
    display: grid; 
    grid-template-columns: 1fr;
    margin-top: 3rem;
    gap: 1rem;

    @media (min-width: 50em) {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    @media (min-width: 62.5em) {
      gap: 2rem;
    }
  }

  .place-card {
    @extend %modern-card;

    --card-padding-inline: 1.5rem;

    position: relative;
    padding: 0;

    &:hover {
      .icon-top {
        svg path {
          fill: var(--very-light-green);
        }
      }
    }

    .place-img {
      width: 100%;
      height: 12.5rem;
      border-radius: inherit;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      object-fit: cover;
    }
 
    .icon-top {
      display: flex;
      position: absolute;
      top: var(--card-padding-inline);
      right: var(--card-padding-inline);
      align-items: center;
      justify-content: center;
      width: 45px;
      border-radius: 50%;
      background-color: var(--dark-gray-opacity);
      aspect-ratio: 1/1;

      svg {
        path {
          transition: 0.3s;
          fill: #fff;
        }
      }
    }

    .place-card-content {
      padding: var(--card-padding-inline);
      padding-bottom: 1rem;

      .small-header {
        font-size: 1.2rem;
      }
      .sub-header {
        margin-bottom: 1rem;
        padding-block: 0.5rem;
        font-size: 0.9rem;
        text-transform: capitalize;
      }
    }
  }
}
