#quote-section {
  padding: 5rem 0; 
  animation: show-quote 2s linear; 
  background: linear-gradient(
    to left,
    var(--background-gray),
    var(--background)
  );

  .wrapper { 
    margin: auto;
  }

  .quote-figure {
    display: flex;

    flex-flow: column; 
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
    border-radius: 4px;
    text-align: center;
  }

  .blockquote {
    position: relative;
    z-index: 2;
    max-width: 40ch;
    color: var(--font-color);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;

    @media (min-width: toRem(1200)) {
      font-size: 3rem;
    }
  }

  .icon {
    position: absolute;
    width: 2rem;

    path {
      fill: var(--background-green);
    }

    @media (min-width: toRem(768)) {
      z-index: 0;
      width: 5rem;
    }
  }

  .icon-left {
    top: 0;
    left: -1rem;
  }

  .icon-right {
    right: -1rem;
    bottom: 0;
  }

  .blockquote-figcaption {
    line-height: 1.6;
  }

  .blockquote-name {
    margin-top: 1.5rem;
    color: var(--background-green);
    font-size: 1.25rem;
    font-weight: bold;

    @media (min-width: toRem(768)) {
      font-size: 1.35rem;
    }

    @media (min-width: toRem(1200)) {
      font-size: 1.5rem;
    }
  }
}
@keyframes show-quote {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  } 
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}