#step-quide {
  .steps-container {
    display: grid;
    grid-template-columns: 1fr 8rem 1fr;
    height: 800px;
    counter-reset: list-el-number;
    gap: 2rem;

    .steps-content-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 3rem;
    }
    .steps-graph {
      height: 100%;
      border-radius: 100vmax;
      background-color: green;
    }
    .steps-content-right {
      background-color: rgb(201, 201, 201);
    }

    .step {
      padding: 1.5rem; 
      border-radius: 20px;
      background: rgb(201, 201, 201);
      background: linear-gradient(to bottom, rgb(201, 201, 201), #fff);

      .header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: linear-gradient(to bottom, var(--dark-green), var(--green));
        text-align: center;

        .small-header {
          padding: 1.5rem 0;
          color: #fff;
          text-transform: uppercase;
        }
      }
      .content {
        padding: 1.5rem;
        padding-bottom: 2rem;
        background-color: var(--background);
        
        .small-header {
          font-size: 1.1rem;
          font-weight: bold;
        }
        .text {
          color: var(--dark-gray);
        }
      }
      
    }
  }
}
