.circular-progress-bar { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
    svg {
        text {
            fill: var(--font-color); 
            font-size: 1rem; 
        }

        circle {
            stroke-width: 15; 
        }  
    }            

    .progress-desc {
        text-align: center;
    }
} 
  