*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 81rem;
  margin: 0 auto;
  padding-inline: 2rem;

  @media (min-width: 80rem) {
    padding-inline: 0rem;
  }
}

.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.big-header {
  font-size: 2rem;
  font-weight: bold;

  @media (min-width: 50rem) {
    font-size: 3rem;
  }
}

.sub-header {
  padding-block: 1.5rem;
  color: var(--very-light-green);
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.small-header {
  font-size: 1.35rem;
  font-weight: bold;
}

.header-hr {
  height: 2px;
  margin-block: 1rem;
  border: none;
  border-radius: 2px;
  opacity: 0.4;
  background-color: var(--very-light-green);
}

.text {
  padding-bottom: 1.5rem;
  color: var(--very-light-gray);
  font-size: 0.9rem;
  line-height: 1.6;
}
