:root {
    /* black */
    --black-opacity-50: #0000007d;
    --black-opacity-40: #00000067;
    --black-opacity-30: #00000056;
    --black-opacity-20: #00000030; 
    /* green */
    --light-green: #00FF57;
    --green: #00c821;
    --dark-green: #155a2c;
    --light-green-opacity: #00ff5596;
    --very-light-green: #37ff7a;
    /* gray */
    --very-light-gray: #e4e4e4;
    --gray: #3F624A;
    --dark-gray: #1d2d2b;
  }